PORT=3000

SMTP_HOST=mail.eugedev.cl
SMTP_PORT=465
SMTP_USER=contacto@eugedev.cl
SMTP_PASS=tu_password

SMTP_TO=tuemail@gmail.com

# Orígenes permitidos separados por coma
CORS_ORIGINS=http://localhost:5173,https://eugedev.cl
